* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style-type: none;
    padding: 26px 30px;
}


.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-list li a:hover {
    color: black;
}

.navbar {
    background: #00FFFF url('img/cyan-color.png');
    background-size: cover;
    background-blend-mode: darken;
}

#preloader{
    background: #000000 url(5.png) no-repeat center center; 
    height: 100vh;
    background-size: 3%;  
    width: 100%;
    position: fixed;
    z-index: 100;
} 


.home {
    background: rgb(0, 0, 0) url('img/2416004.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.home {
    height: 100vh;
}

.home-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 70%;
    margin: auto;
    height: 90%;
}

.firstpart {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondpart {
    width: 30%;
}

img {
    width: 600px;
}


.head-1 {
    font-size: 50px;
    color: yellow;
}


.body-1 {
    font-size: 40px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: #000000;
    color: black;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sm {
    padding: 3px 10px;
    vertical-align: middle;
}

.about-us {
    background: rgb(192, 21, 21) url('img/2416004.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.about-us {
    height: 100vh;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 90%;
}

.thirdpart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: #000000;
}


.head-2 {
    font-size: 50px;
    color: yellow;
}


.body-2 {
    font-size: 40px;
}

.about-us img{
    width: 50px;
}

.faq {
    background: rgb(30, 32, 182) url('img/2416004.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.faq {
    height: 100vh;
}

.FAQ-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 90%;
    margin: auto;
    height: 90%;
}


.fifthpart {
    width: 14%;
}

.sixthpart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 8px 20px;
    margin: 7px 3px;
    border: 5px solid red;
    border-radius: 8px;
    background: #000000;
}

.seventhpart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 8px 20px;
    margin: 7px 3px;
    border: 5px solid red;
    border-radius: 8px;
    background: #000000;
}

.head-3 {
    font-size: 80px;
    color: yellow;
}


.Ques {
    font-size: 45px;
}

.Ques-1 {
    font-size: 45px;
}

.Ans {
    font-size: 35px;
}

.Ans-1 {
    font-size: 35px;
}

.bttn {
    background: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    
}

.bttn-sm {
    padding: 3px 10px;
    vertical-align: middle;
}

.opening-hour {
    background: #6a0dad url('img/2416004.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.opening-hour {
    height: 100vh;
}

.time-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 90%;
    margin: auto;
    height: 90%;
}


.eighthpart {
    width: 50%;
}

.ninethpart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.head-3 {
    font-size: 80px;
    color: yellow;
}

.bttn {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: red;
}


@media (max-width: 1140px) {
        .nav-list {
            flex-direction: row;
        }

        .navbar {
            height: 50px;
            flex-direction: row;
        }

        .home {
            height: 125vh;
        }

        .home-box {
            flex-direction: column-reverse;
            max-width: 100%;
            height: 100%;

        }

        .about-box {
            flex-direction: row;
            max-width: 100%;
            height: 100%;
        }

        .faq {
            height: 150%;
        }

        .FAQ-box {
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 95%;
        }

        .opening-hour {
            height: 65vh;
        }

        .time-box {
            flex-direction: row;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 90%;
        }

        img {
            width: 360px;
        }

        .h-nav-resp {
            height: 50px;
        }

        .v-class-resp {
            opacity: 5;
            font-size: 20px;
            align-items: center;
        }

        .section {
            flex-direction: column-reverse;
        }


    }

    @media (max-width: 840px) {
        .nav-list {
            flex-direction: row;
        }

        .navbar {
            height: 50px;
            flex-direction: row;
        }

        .home {
            height: 150vh;
        }

        .home-box {
            flex-direction: column-reverse;
            max-width: 100%;
            height: 100%;

        }

        .secondpart {
            width: 55%;
        }

        .about-box {
            flex-direction: row;
            max-width: 100%;
            height: 100%;
        }

        .faq {
            height: 150%;
        }

        .FAQ-box {
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 95%;
        }

        .opening-hour {
            height: 65vh;
        }

        .time-box {
            flex-direction: row;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 90%;
        }

        img {
            width: 360px;
        }

        .h-nav-resp {
            height: 50px;
        }

        .v-class-resp {
            opacity: 5;
            font-size: 20px;
            align-items: center;
        }

        .section {
            flex-direction: column-reverse;
        }


    }

    @media (max-width: 704px) {
        .nav-list {
            flex-direction: row;
            width: 80%;
        }

        .navbar {
            height: 50px;
            flex-direction: row;
            width: 117%;
            position: sticky;
        }

        .home {
            height: 200vh;
            width: 117%;
        }

        .home-box {
            flex-direction: column-reverse;
            max-width: 100%;
            height: 100%;

        }

        .secondpart {
            width: 55%;
        }

        .about-us {
            height: 117vh;
            width: 117%;
        }

        .about-box {
            flex-direction: row;
            max-width: 100%;
            height: 100%;
        }

        .faq {
            height: 250vh;
            width: 117%;
        }

        .FAQ-box {
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 95%;
        }

        .opening-hour {
            height: 85vh;
            width: 117%;
        }

        .time-box {
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 95%;
        }

        img {
            width: 360px;
        }

        .h-nav-resp {
            height: 50px;
        }

        .v-class-resp {
            opacity: 5;
            font-size: 20px;
            align-items: center;
        }

        .section {
            flex-direction: column-reverse;
        }


    }

    @media (max-width: 450px) {
        .nav-list {
            flex-direction: row;
        }

        .navbar {
            height: 50px;
            flex-direction: row;
        }

        .home {
            height: 240vh;
            width: 255%;
        }

        secondpart {
            width: 66%;
        }

        .home-box {
            flex-direction: column-reverse;
            width: 128%;
            height: 88%;

        }

        .head-1{
            font-size: 87px;
        }

        .body-1{
            font-size: 58px;
        }

        .about-us {
            height: 117vh;
            width: 255%;
        }

        .about-box {
            flex-direction: row;
            max-width: 100%;
            height: 100%;
        }

        .faq {
            height: 150%;
            width: 255%;
        }

        .FAQ-box {
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 95%;
        }

        .opening-hour {
            height: 65vh;
            width: 255%;
        }

        .time-box {
            flex-direction: row;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 90%;
        }

        img {
            width: 690px;
        }

        .h-nav-resp {
            height: 50px;
            width: 255%;
        }

        .v-class-resp {
            opacity: 5;
            font-size: 20px;
            align-items: center;
        }

        .section {
            flex-direction: column-reverse;
        }


    }

    @media (max-width: 276px) {
        .nav-list {
            flex-direction: row;
        }

        .navbar {
            height: 50px;
            flex-direction: row;
        }

        .home {
            height: 165%;
            width: 395%;
        }

        secondpart {
            width: 66%;
        }

        .home-box {
            flex-direction: column-reverse;
            max-width: 100%;
            height: 100%;

        }

        .about-us {
            height: 117vh;
            width: 395%;
        }

        .about-box {
            flex-direction: row;
            max-width: 100%;
            height: 100%;
        }

        .faq {
            height: 150%;
            width: 395%;
        }

        .FAQ-box {
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 95%;
        }

        .opening-hour {
            height: 65vh;
            width: 395%;
        }

        .time-box {
            flex-direction: row;
            justify-content: center;
            max-width: 100%;
            margin: auto;
            height: 90%;
        }

        img {
            width: 360px;
        }

        .h-nav-resp {
            height: 50px;
            width: 395%;
        }

        .v-class-resp {
            opacity: 5;
            font-size: 20px;
            align-items: center;
        }

        .section {
            flex-direction: column-reverse;
        }


    }